.InsideContent{
    display:flex;
    align-items: flex-start;
  }
.InsideContent1{
    display:block;
  }
.cardbear{
    width:150px;
    height:150px;
    margin-right:10px;
   
  }
  .cardbear1{
    width:200px;
    height:200px;
    margin-right:10px;
   
  }
.control-section{
  width:1100px;
    height:700px;
}