.InsideContent{
    display:flex;
    align-items: flex-start;
  }
.InsideContent1{
    display:block;
  }
.cardbear{
    width:auto;
    height:auto;
   
   
  }
  .cardbear1{
    width:200px;
    height:200px;
    margin-right:10px;
   
  }
.control-section{
  width:1100px;
    height:700px;
}
@media(max-width:320px){
  :host ::ng-deep .pButton {
    width: 1rem;
    font-size: 1px;
  }
  :host ::ng-deep .p-dropdown {
    width: 10rem;
    
  }
  :host ::ng-deep .cardbear {
    width: auto;
    height:auto;
    font-size: xx-small;
    
  }
  :host ::ng-deep .card {
    width: auto;
    height:auto;
    font-size: xx-small;
    
  }
  :host ::ng-deep .cardbear1 {
    width: auto;
    height:auto;
    font-size: xx-small;
    
  }
  :host ::ng-deep .navbar-brand{
    display:none;
    
  }
  :host ::ng-deep .brand-logo-mini{
    display:none;
    
  }
  :host ::ng-deep .chart{
    width:300px;
    height:400px;
    
  }
}