<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<div class="InsideContent">
  <mat-card class='stockoptionssupport animate__flipOutX'  *ngFor="let tile of stockoptionssupport">
    <h6>Max Support:{{tile.text1}}</h6>
    
  </mat-card>
  <mat-card class='stockoptionsresistance animate__flipOutX'  *ngFor="let tile of stockoptionsresistance">
    <h6>Max Res:{{tile.text1}}</h6>
    
  </mat-card>
  <mat-card class='stockoptionsresistance animate__flipOutX'  *ngFor="let tile of stockpcr">
    <h6>Stock PCR:{{tile.text1| number : '1.2-2'}}</h6>
    
  </mat-card>
  <mat-card 
  *ngFor="let tile of nsesectorpe" class='mat-cardnsesectorpe'>
     Sector PE:{{tile.text1}}
     </mat-card>
     <mat-card 
  *ngFor="let tile of nsesymbolpe" class='mat-cardnsesymbolpe'>
     PE:{{tile.text1}}
     </mat-card>
  
  <mat-card
        [ngClass]="{'mat-cardyellow':tile.text1=='Neutral','mat-cardmcdailygb' : tile.text1 == 'Bullish' , 'mat-cardmcdailygvb' : tile.text1 == 'Very Bullish','mat-cardmcdailyrb' : tile.text1 == 'Bearish','mat-cardmcdailyrvb' : tile.text1 == 'Very Bearish'}"
        *ngFor="let tile of indication">
        {{tile.text}} <br>
        {{tile.text1}}
      </mat-card>


      <mat-card
        [ngClass]="{'mat-cardyellow':tile.text1=='Neutral','mat-cardmcweeklygvb': tile.text1 == 'Very Bullish' , 'mat-cardmcweeklygb': tile.text1 == 'Bullish' , 'mat-cardmcweeklyrb': tile.text1 == 'Bearish' , 'mat-cardmcweeklyrvb': tile.text1 == 'Very Bearish'}"
        *ngFor="let tile of indicationw">

        {{tile.text}}<br>        {{tile.text1}}
      </mat-card>
      <mat-card
        [ngClass]="{'mat-cardyellow':tile.text1=='Neutral','mat-cardmcweeklygvb': tile.text1 == 'Very Bullish' , 'mat-cardmcweeklygb': tile.text1 == 'Bullish' , 'mat-cardmcweeklyrb': tile.text1 == 'Bearish' , 'mat-cardmcweeklyrvb': tile.text1 == 'Very Bearish'}"
        *ngFor="let tile of indicationm">

        {{tile.text}}<br>
        {{tile.text1}}
      </mat-card>
      <mat-card 
*ngFor="let tile of nsesectorind" class='mat-cardmcweeklygvb'>
   {{tile.text1}}
   </mat-card>
      
</div>
<div class="InsideContent">


<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
  <h1 style="font-weight:normal">Left Sidebar</h1>
  </p-sidebar>
<p-sidebar [(visible)]="visibleSidebar2" position="right" [baseZIndex]="10000">
  <h1 style="font-weight:normal">WebSites</h1>
  <a href={{this.tllink}} target="_blank" rel="noopener noreferer">Trendlyne Link</a>
   
</p-sidebar>

<p-sidebar [(visible)]="visibleSidebar3" [fullScreen]="true" position="top" [baseZIndex]="10000">
  <h1 style="font-weight:normal">News</h1>
  <div class="InsideContent newsframe" >
  <p-card  *ngFor="let news of newscard " header={{news.text1}}  [style]="{width: '300px',margin: '5px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <img alt="Card" src={{news.text3}}>
    </ng-template>
    <p>{{news.text5}}</p>
   
    <a href={{news.text2}} target="_blank" rel="noopener noreferer">{{news.text2}}</a>
    
    
    
</p-card>
</div>
  </p-sidebar>

<p-sidebar [(visible)]="visibleSidebar4" [fullScreen]="true" position="bottom" [baseZIndex]="10000">
  <h5 style="font-weight:normal">Intraday</h5>
  <div class='fontgreen'>{{vwapmsgp}}</div>
  <br><div class='fontred'>{{vwapmsgn}}</div>
  <span [ngClass]="{'fontgreen' : hms.text2 > 0 , 'fontred': 0 > hms.text2 }" *ngFor="let hms of hmsg" class="InsideContent">{{hms.text}}:{{hms.text1}}***</span> 

  <div class=InsideContent>

    <mat-card
      [ngClass]="{'mat-cardtir' : tile.text3 == 'Bearish','mat-cardtig1' : tile.text3 == 'Oversold','mat-cardtir1' : tile.text3 == 'Overbought','mat-cardtir11' : tile.text3 == 'Weak Trend','mat-cardtig11' : tile.text3 == 'Strong Trend','mat-cardtiy' : tile.text3 == 'Neutral','mat-cardtig' : tile.text3 == 'Bullish'}"
      style=float:left *ngFor="let tile of ti">
  
      <h6>{{tile.text1}}</h6>{{tile.text2}}<br>{{tile.text3}}<br>{{tile.text4}}
    </mat-card>
    <mat-card
      [ngClass]="{'mat-cardred3' : tile.text3 == 'Bearish','mat-cardyellow' : tile.text3 == 'Neutral','mat-cardgreen3' : tile.text3 == 'Bullish'}"
      style=float:left *ngFor="let tile of bb">
      <mat-card-header class="InsideContent">{{tile.text1}}</mat-card-header>
      <mat-card-subtitle style=float:left>{{tile.text2}}<br>{{tile.text3}}<br>{{tile.text4}}</mat-card-subtitle>
    </mat-card>
    

  </div>
  <mat-card 
  *ngFor="let tile of nseintraday" class='mat-cardnsedelivery'>
     Intraday max:{{tile.text1}}<br>Intraday min:{{tile.text2}}<br>Current:{{tile.text3}}
     </mat-card>
     <mat-card 
     *ngFor="let tile of nsepreopen" class='mat-cardnsedelivery'>
        Preopen Final Price:{{tile.text1}}<br>Preopen Final Quantity:{{tile.text2}}
        </mat-card>
</p-sidebar>

<p-sidebar [(visible)]="visibleSidebar5" [fullScreen]="true" [baseZIndex]="10000">
  <h6 style="font-weight:normal">Broker's Insight</h6>
  
  <p *ngFor="let tile of brokertarget" [ngClass]="{'fontgreen' : tile.text3 == 'positive' ,'fontred' : tile.text3 == 'negative' , 'fontyellow': tile.text3 == 'neutral'}">{{tile.text1}}&nbsp;[{{tile.text2}}]</p>
  
  <p *ngFor="let tile of brokertargetupgrade" [ngClass]="{'fontgreen' : tile.text3 == 'positive' ,'fontred' : tile.text3 == 'negative' , 'fontyellow': tile.text3 == 'neutral'}">{{tile.text1}}</p>
  <p *ngFor="let tile of brokertargetdowngrade" [ngClass]="{'fontgreen' : tile.text3 == 'positive' ,'fontred' : tile.text3 == 'negative' , 'fontyellow': tile.text3 == 'neutral'}">{{tile.text1}}</p>
  <p *ngFor="let tile of brokerrecoupgrade" [ngClass]="{'fontgreen' : tile.text3 == 'positive' ,'fontred' : tile.text3 == 'negative' , 'fontyellow': tile.text3 == 'neutral'}">{{tile.text1}}</p>
  <p *ngFor="let tile of brokerrecodowngrade" [ngClass]="{'fontgreen' : tile.text3 == 'positive' ,'fontred' : tile.text3 == 'negative' , 'fontyellow': tile.text3 == 'neutral'}">{{tile.text1}}</p>
  <h6 style="font-weight:normal">Technicals</h6>
  <h6 style="font-weight:normal">EMA</h6>
  <p *ngFor="let tile of ema_26" [ngClass]="{'fontgreen' : tile.text3 == 'positive' ,'fontred' : tile.text3 == 'negative' , 'fontyellow': tile.text3 == 'neutral'}">&rarr;{{tile.text1}}</p>
  <p *ngFor="let tile of ema_50" [ngClass]="{'fontgreen' : tile.text3 == 'positive' ,'fontred' : tile.text3 == 'negative' , 'fontyellow': tile.text3 == 'neutral'}">&rarr;{{tile.text1}}</p>
  <p *ngFor="let tile of ema_100" [ngClass]="{'fontgreen' : tile.text3 == 'positive' ,'fontred' : tile.text3 == 'negative' , 'fontyellow': tile.text3 == 'neutral'}">&rarr;{{tile.text1}}</p>
  <p *ngFor="let tile of ema_200" [ngClass]="{'fontgreen' : tile.text3 == 'positive' ,'fontred' : tile.text3 == 'negative' , 'fontyellow': tile.text3 == 'neutral'}">&rarr;{{tile.text1}}</p>
  <h6 style="font-weight:normal">SMA</h6>
  <p *ngFor="let tile of sma_30" [ngClass]="{'fontgreen' : tile.text3 == 'positive' ,'fontred' : tile.text3 == 'negative' , 'fontyellow': tile.text3 == 'neutral'}">&rarr;{{tile.text1}}</p>
  <p *ngFor="let tile of sma_50" [ngClass]="{'fontgreen' : tile.text3 == 'positive' ,'fontred' : tile.text3 == 'negative' , 'fontyellow': tile.text3 == 'neutral'}">&rarr;{{tile.text1}}</p>
  <p *ngFor="let tile of sma_100" [ngClass]="{'fontgreen' : tile.text3 == 'positive' ,'fontred' : tile.text3 == 'negative' , 'fontyellow': tile.text3 == 'neutral'}">&rarr;{{tile.text1}}</p>
  <p *ngFor="let tile of sma_200" [ngClass]="{'fontgreen' : tile.text3 == 'positive' ,'fontred' : tile.text3 == 'negative' , 'fontyellow': tile.text3 == 'neutral'}">&rarr;{{tile.text1}}</p>
  <h6 style="font-weight:normal">MACD</h6>
  <p *ngFor="let tile of macd" [ngClass]="{'fontgreen' : tile.text3 == 'positive' ,'fontred' : tile.text3 == 'negative' , 'fontyellow': tile.text3 == 'neutral'}">&rarr;{{tile.text1}}</p>
  <p *ngFor="let tile of macdsignal" [ngClass]="{'fontgreen' : tile.text3 == 'positive' ,'fontred' : tile.text3 == 'negative' , 'fontyellow': tile.text3 == 'neutral'}">&rarr;{{tile.text1}}</p>
 
  <h6 style="font-weight:normal">RSI</h6>
  <p *ngFor="let tile of rsi" [ngClass]="{'fontgreen' : tile.text3 == 'positive' ,'fontred' : tile.text3 == 'negative' , 'fontyellow': tile.text3 == 'neutral'}">&rarr;{{tile.text1}}</p>
  <h6 style="font-weight:normal">MFI</h6>
  <p *ngFor="let tile of mfi" [ngClass]="{'fontgreen' : tile.text3 == 'positive' ,'fontred' : tile.text3 == 'negative' , 'fontyellow': tile.text3 == 'neutral'}">&rarr;{{tile.text1}}</p>
</p-sidebar>
<app-intersecting-circles-spinner
  [animationDuration]="1200"
  [size]="70"
  [color]="'#ff1d5e'"
></app-intersecting-circles-spinner>

<mat-card 
*ngFor="let tile of score" class='mat-cardscoreg'>
     {{tile.text1}}<br><h6>{{tile.text| number : '1.2-2'}}</h6>
     </mat-card>
     <mat-card 
  *ngFor="let tile of scoret" [ngClass]="{'mat-cardscoreg' : tile.text == 'Buy' ,'mat-cardscoreg1' : tile.text == 'Strong Buy' , 'mat-cardscorer': tile.text == 'Sell' ,'mat-cardscorer1': tile.text == 'Strong Sell' ,'mat-cardscorey' : tile.text == 'Hold'}">
  {{tile.text1}}<br><h6>{{tile.text}}</h6>
  </mat-card>
  <mat-card 
  *ngFor="let tile of fscore"  [ngClass]="{'fscoreo' : tile.text == 'orange' , 'fscoreg' : tile.text == 'green' , 'fscorer' : tile.text == 'red' }"  >
  {{tile.text4}}<br>{{tile.text2}}<br>{{tile.text3}}
  </mat-card>
  <mat-card 
  *ngFor="let tile of qscore" [ngClass]="{'qscoreo' : tile.text == 'orange' , 'qscoreg' : tile.text == 'green' , 'qscorer' : tile.text == 'red' }">
  {{tile.text4}}<br>{{tile.text3}}
  </mat-card>
  <mat-card 
  *ngFor="let tile of vscore" [ngClass]="{'vscoreg' : tile.text == 'green' , 'vscorer': tile.text == 'red' ,'vscoreo' : tile.text == 'orange'}">
  Valuation<br>{{tile.text2}}
  </mat-card>
  <mat-card 
  *ngFor="let tile of techscore" [ngClass]="{'techscoreg' : tile.text == 'Green' , 'techscorer': tile.text == 'Red' ,'techscoreo' : tile.text == 'Orange'}">
  {{tile.text3}}<br>{{tile.text1}}<br>{{tile.text2}}
  </mat-card>
  <mat-card
  [ngClass]="{'mat-cardpscorer' : tile.text4 == 'negative','mat-cardpscorey' : tile.text4 == 'neutral','mat-cardpscoreg' : tile.text4 == 'positive'}"
  style=float:right *ngFor="let tile of pscore">

  {{tile.text1}}{{tile.text2}}<br>{{tile.text3}}
</mat-card>
<mat-card
[ngClass]="{'mat-cardpscorer' : tile.text2 == 'negative','mat-cardpscorey' : tile.text2 == 'neutral','mat-cardpscoreg' : tile.text2 == 'positive'}"
style=float:right *ngFor="let tile of dscore">

Durability Score:<br><h6>{{tile.text1}}</h6>
</mat-card>
<mat-card
[ngClass]="{'mat-cardpscorer' : tile.text2 == 'negative','mat-cardpscorey' : tile.text2 == 'neutral','mat-cardpscoreg' : tile.text2 == 'positive'}"
style=float:right *ngFor="let tile of volscore">

Volatility Score:<br><h6>{{tile.text1}}</h6>
</mat-card>
<mat-card
[ngClass]="{'mat-cardpscorer' : tile.text2 == 'negative','mat-cardpscorey' : tile.text2 == 'neutral','mat-cardpscoreg' : tile.text2 == 'positive'}"
style=float:right *ngFor="let tile of mscore">

Momentum Score:<br><h6>{{tile.text1}}</h6>
</mat-card>  
    </div>    

  <marquee class="col">
    <div class="col" style="display:inline">
      <span *ngFor="let new of news1"> {{new}} </span>
  
    </div>
  
  </marquee>
  <div class="InsideContent">
    
      <mat-card class="mat-cardpclose" *ngFor="let tile of pricepclose">{{tile.text}}<br>{{tile.text1}}
      </mat-card>
      <mat-card class="mat-cardopen" *ngFor="let tile of OPN">{{tile.text}}<br>{{tile.text1}}</mat-card>

      

      <mat-card class="mat-carddel" *ngFor="let tile of delivery">{{tile.text}}<br>{{tile.text1}}</mat-card>
      <mat-card class="mat-cardvol" style=float:right *ngFor="let tile of volume3">
        <mat-card-header>{{tile.text3}}</mat-card-header>
        <mat-card-subtitle style=float:left>{{tile.text2}}<br>{{tile.text1}}</mat-card-subtitle>
      </mat-card>
      <mat-card class="mat-cardhp" *ngFor="let tile of hp">{{tile.text}}<br>{{tile.text1}}</mat-card>
      <mat-card class="mat-cardlp" *ngFor="let tile of lp">{{tile.text}}<br>{{tile.text1}}</mat-card>
      <mat-card class="mat-cardwkh" *ngFor="let tile of wkh">{{tile.text}}<br>{{tile.text1}}</mat-card>
      <mat-card class="mat-cardwkl" *ngFor="let tile of wkl">{{tile.text}}<br>{{tile.text1}}</mat-card>
      <mat-card class="mat-cardwkl" *ngFor="let tile of vwap">VWAP<br>{{tile.text}}</mat-card>


  
  </div>
  <marquee class="col">
    <div class="col" style="display:inline">
      <span  [ngClass]="{'fontred' : 0 > new.text3 , 'fontgreen': new.text3 > 0 ,'fontyellow' : new.text3 == 0 }" *ngFor="let new of csectorcompany">&nbsp;&nbsp; {{new.text1}}&nbsp;{{new.text2}}&nbsp;({{new.text3}}%) </span>
  
    </div>
  
  </marquee>
     
     
  
  
  <div class="InsideContent">
    <p-button type="button" (click)="visibleSidebar1 = true" icon="pi pi-arrow-right"></p-button>
    <p-button type="button" (click)="visibleSidebar2 = true" icon="pi pi-arrow-left"></p-button>
    
    <button pButton type="button" (click)="visibleSidebar3 = true" icon="pi pi-arrow-down" label="News" class="p-button-raised p-button-warning p-button-outlined "></button>
    <button pButton type="button" (click)="visibleSidebar4 = true" icon="pi pi-arrow-right" label="Intraday" class="p-button-raised p-button-success p-button-outlined "></button>
    <button pButton type="button" (click)="visibleSidebar5 = true" icon="pi pi-arrow-right" label="Insights" class="p-button-raised p-button-success p-button-outlined "></button>
    </div>
 
  <h2 style=float:center [ngClass]="{'fontgreen' : pricechange > 0 , 'fontred': 0 > pricechange   }">
    {{stockname}}&nbsp;&nbsp;&nbsp; {{stockisin}}&nbsp; {{currentprice}}&nbsp; {{pricechange}}&nbsp; {{priceperchange}}
  </h2>
  Upper Circuit:{{nsestockuc}}&nbsp;&nbsp;Lower Circuit:{{nsestocklc}}
     
  
   
  
  <div
    [ngClass]="{'fontgreen' : sectreturn > 0 , 'fontred': 0 > sectreturn ,'fontgreen1' : stockreturn > 0 , 'fontred1': 0 > stockreturn}">
    <h4>Sector Return: {{sectreturn}}%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Stock Return: {{stockreturn}}%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sensex Return: {{sensexreturn}}%</h4>
  </div>
  {{mmdelivcomp}}
  <div class="InsideContent">
    <h5>{{this.stockname}}</h5>
    <p-chart type="line" [data]="basicData" width="1500px" height="600px" [options]="basicOptions"></p-chart>
</div>
<div>
  <p-tabView>
    <p-tabPanel header="Technicals">
      <div class=InsideContent>

        <mat-card
          [ngClass]="{'mat-cardtir' : tile.text3 == 'Bearish','mat-cardtig1' : tile.text3 == 'Oversold','mat-cardtir1' : tile.text3 == 'Overbought','mat-cardtir11' : tile.text3 == 'Weak Trend','mat-cardtig11' : tile.text3 == 'Strong Trend','mat-cardtiy' : tile.text3 == 'Neutral','mat-cardtig' : tile.text3 == 'Bullish'}"
          style=float:left *ngFor="let tile of ti">
      
          <h6>{{tile.text1}}</h6>{{tile.text2}}<br>{{tile.text3}}<br>{{tile.text4}}
        </mat-card>
        <mat-card
          [ngClass]="{'mat-cardred3' : tile.text3 == 'Bearish','mat-cardyellow' : tile.text3 == 'Neutral','mat-cardgreen3' : tile.text3 == 'Bullish'}"
          style=float:left *ngFor="let tile of bb">
          <mat-card-header class="InsideContent">{{tile.text1}}</mat-card-header>
          <mat-card-subtitle style=float:left>{{tile.text2}}<br>{{tile.text3}}<br>{{tile.text4}}</mat-card-subtitle>
        </mat-card>
      </div>
      <div class=InsideContent>

        <mat-card
          [ngClass]="{'mat-cardtir' : tile.text3 == 'Bearish','mat-cardtig1' : tile.text3 == 'Oversold','mat-cardtir1' : tile.text3 == 'Overbought','mat-cardtir11' : tile.text3 == 'Weak Trend','mat-cardtig11' : tile.text3 == 'Strong Trend','mat-cardtiy' : tile.text3 == 'Neutral','mat-cardtig' : tile.text3 == 'Bullish'}"
          style=float:left *ngFor="let tile of tiw">
      
          <h6>{{tile.text1}}</h6>{{tile.text2}}<br>{{tile.text3}}<br>{{tile.text4}}
        </mat-card>
        <mat-card
          [ngClass]="{'mat-cardred3' : tile.text3 == 'Bearish','mat-cardyellow' : tile.text3 == 'Neutral','mat-cardgreen3' : tile.text3 == 'Bullish'}"
          style=float:left *ngFor="let tile of bbw">
          <mat-card-header class="InsideContent">{{tile.text1}}</mat-card-header>
          <mat-card-subtitle style=float:left>{{tile.text2}}<br>{{tile.text3}}<br>{{tile.text4}}</mat-card-subtitle>
        </mat-card>
      </div>
      <div class=InsideContent>

        <mat-card
          [ngClass]="{'mat-cardtir' : tile.text3 == 'Bearish','mat-cardtig1' : tile.text3 == 'Oversold','mat-cardtir1' : tile.text3 == 'Overbought','mat-cardtir11' : tile.text3 == 'Weak Trend','mat-cardtig11' : tile.text3 == 'Strong Trend','mat-cardtiy' : tile.text3 == 'Neutral','mat-cardtig' : tile.text3 == 'Bullish'}"
          style=float:left *ngFor="let tile of tim">
      
          <h6>{{tile.text1}}</h6>{{tile.text2}}<br>{{tile.text3}}<br>{{tile.text4}}
        </mat-card>
        <mat-card
          [ngClass]="{'mat-cardred3' : tile.text3 == 'Bearish','mat-cardyellow' : tile.text3 == 'Neutral','mat-cardgreen3' : tile.text3 == 'Bullish'}"
          style=float:left *ngFor="let tile of bbm">
          <mat-card-header class="InsideContent">{{tile.text1}}</mat-card-header>
          <mat-card-subtitle style=float:left>{{tile.text2}}<br>{{tile.text3}}<br>{{tile.text4}}</mat-card-subtitle>
        </mat-card>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Stock in Indices">
      <mat-card 
      [ngClass]="{'mat-cardlindexr' : tile.text3 > tile.text2 , 'mat-cardlindexg': tile.text2 > tile.text3 ,'mat-cardlindexy' : tile.text2 == tile.text3 }" *ngFor="let tile of listedindexname">
         {{tile.text1}}<br>A:{{tile.text2}}&nbsp;&nbsp;D:{{tile.text3}}&nbsp;<br>{{tile.text4}}&nbsp;{{tile.text5}}&nbsp;({{tile.text6}}%)
         </mat-card>
    </p-tabPanel>
    <p-tabPanel header="Shareholding">
      <div id="sh" class="shheader shiny">Shareholdings &nbsp;{{this.indicatordate}}</div>
  
      <mat-card
        [ngClass]="{'mat-cardshy' : tile.text2 == 'neutral','mat-cardshr' : tile.text2 == 'negative','mat-cardshg' : tile.text2 == 'positive'}"
        *ngFor="let tile of shareholding">{{tile.text1}}<br>{{tile.text2}}</mat-card>
  
      <h3>{{quarter}}</h3>&nbsp;&nbsp;{{phol}}<br>{{pholmsg}}
    
    <div class="InsideContent">
      
        <table mdbTable>
          <thead>
            <tr>
              <th *ngFor="let head of headElementsshareh" scope="col">{{head}} </th>
            </tr>
          </thead>
          <tbody>
            <tr mdbTableCol *ngFor="let el of elementsshareh">
              <th scope="row">{{el.Name}}</th>
              <td>{{el.Q1}}</td>
              <td>{{el.Q2}}</td>
              <td>{{el.Change}}</td>
            </tr>
          </tbody>
        </table>
     
  
      
        <table mdbTable>
          <thead>
            <tr>
              <th *ngFor="let head of headElementspd" scope="col">{{head}} </th>
            </tr>
          </thead>
          <tbody>
            <tr mdbTableCol *ngFor="let el of elementspd">
              <th scope="row">{{el.Details}}</th>
              <td>{{el.Value}}</td>
  
            </tr>
          </tbody>
        </table>
      
      
        <table mdbTable>
          <thead>
            <tr>
              <th *ngFor="let head of headElementsphol" scope="col">{{head}} </th>
            </tr>
          </thead>
          <tbody>
            <tr mdbTableCol *ngFor="let el of elementsphol">
              <th scope="row">{{el.Quarter}}</th>
              <td>{{el.Value}}</td>
              <td>{{el.Value2}}</td>
            </tr>
          </tbody>
        </table>
      
    </div>
  
    </p-tabPanel>
    <p-tabPanel header="Support/Resistance">
      <div id="snr" class="btnsnr shiny">Support/Resistance</div>
    <table mdbTable>
        <thead>
          <tr>
            <th *ngFor="let head of headElements" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let el of elements">
            <th scope="row">{{el.id}}</th>
            <td>{{el.R1}}</td>
            <td>{{el.R2}}</td>
            <td>{{el.R3}}</td>
            <td>{{el.PP}}</td>
            <td>{{el.S1}}</td>
            <td>{{el.S2}}</td>
            <td>{{el.S3}}</td>
          </tr>
        </tbody>
      </table>
    
    </p-tabPanel>
    
    <p-tabPanel header="EMA/SMA">
     
      <table mdbTable>
        <thead>
          <tr>
            <th *ngFor="let head of headElementsema" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let el of elementsema">
            <th scope="row">{{el.key}}</th>
            <td>{{el.value}}</td>
            <td>{{el.indication}}</td>
          </tr>
        </tbody>
      </table>
   

    
      <table mdbTable>
        <thead>
          <tr>
            <th *ngFor="let head of headElementssma" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let el of elementssma">
            <th scope="row">{{el.key}}</th>
            <td>{{el.value}}</td>
            <td>{{el.indication}}</td>
          </tr>
        </tbody>
      </table>
    </p-tabPanel>
      <p-tabPanel header="Volume">
      <button type="button" class="btn btn-outline-secondary" data-mdb-ripple-color="dark">
        Volume
      </button>
   
      
    <div class=InsideContent>
      <mat-card class="mat-cardbqdelvol" *ngFor="let tile of bqdelvol">{{tile.text1}}<br>{{tile.text2}}<br>{{tile.text3}}
      </mat-card>
      <mat-card class="mat-cardbqdelvol" *ngFor="let tile of pmov">
        <br>{{tile.text}}<br>Sensex:{{tile.text1}}<br>{{tile.text2}}<br>{{tile.text3}}
      </mat-card>
  
  
      <mat-card [ngClass]="{'mat-cardbqdelvolmsgr': tile.text1==-1,'mat-cardbqdelvolmsgg': tile.text1==1}"
        *ngFor="let tile of bqdelvolmsg">{{tile.text2}}
      </mat-card>
      <mat-card 
   *ngFor="let tile of nsedelivQ" class='mat-cardnsedelivery'>
      Delivery Volume:{{tile.text1}}<br>Traded Volume:{{tile.text3}}<br>Delivery:{{tile.text2}}%
      </mat-card>
   
    </div>
  </p-tabPanel>
    <p-tabPanel header="Peers">
    <div class="InsideContent1">
      <button type="button" class="btn btn-outline-secondary" data-mdb-ripple-color="dark">
        Peers
      </button>
    </div>
      <table mdbTable>
        <thead>
          <tr>
            <th *ngFor="let head of headElementsmmpeers" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let el of elementsmmpeers">
            <th scope="row">{{el.Name}}</th>
            <td>{{el.Fin_Trend}}</td>
            <td>{{el.Quality_Rank}}</td>
            <td>{{el.Quality}}</td>
            <td>{{el.Tech_Score}}</td>
            <td>{{el.Technicals}}</td>
            <td>{{el.Valuation_Rank}}</td>
            <td>{{el.Valuation}}</td>
          </tr>
        </tbody>
      </table>
     
</p-tabPanel>
<p-tabPanel header="SWOT">
  

  <div id="st" class="strengthsheader shiny">Strengths</div>
  <div class="fontgreen" *ngFor="let tile of strengths">Strengths:{{tile.text1}}</div>
  <div id="wk" class="weaknessheader shiny">Weaknesses</div>
  <div class="fontred" *ngFor="let tile of weaknesses">Weaknesses:{{tile.text1}}</div>
  <div id="op" class="oppheader shiny">Opportunities</div>
  <div class="fontgreen" *ngFor="let tile of Opportunities">Opportunities:{{tile.text1}}</div>
<div id="th" class="threatsheader shiny">Threats</div>
  <div class="fontred" *ngFor="let tile of threats">Threats:{{tile.text1}}</div>


</p-tabPanel>




    


  
  <div class="InsideContent1">
 

  


  



  <div echarts [options]="options9" class="demo-chart2"></div>  
  


<div [ngClass]="{'fontgreen' : sentencedir > 0 , 'fontred': 0 > sentencedir }">
  <h6>{{sentence}}</h6>
</div>
<button type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark" (click)="scroll('snr')">SnR</button>
<button type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark" (click)="scroll('qr')">QR</button>
<button type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark" (click)="scroll('sh')">Shareholding</button>
<button type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark" (click)="scroll('ic')">Industry Comp</button>
<button type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark" (click)="scroll('pd')">Price Details</button>
<button type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark" (click)="scroll('st')">Strength</button>
<button type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark" (click)="scroll('wk')">Weakness</button>
<button type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark" (click)="scroll('op')">Opportunities</button>
<button type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark" (click)="scroll('th')">Threats</button>
<button type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark" (click)="scroll('ca')">Corporate ann.</button>
<button type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark" (click)="scroll('ann')">Announcements</button>
<button type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark" (click)="scroll('cd')">Call Data</button>
<button type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark" (click)="scroll('putd')">Put Data</button>
<button type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark" (click)="scroll('fs')">Financial Stats</button>
<button type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark" (click)="scroll('graphs')">Graphs</button>
<button type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark" (click)="scroll('ema')">EMA</button>
<button type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark" (click)="scroll('sma')">SMA</button>
<button type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark" (click)="scroll('pd')">Put Data</button>

<div *ngIf="!loader">
  {{ldiv}}
  Dividend Yield:{{dyield}}
  <div class="InsideContent1">
  <button type="button" class="btn btn-outline-secondary" data-mdb-ripple-color="dark">
    Returns
  </button>
</div>
  
  <div class=InsideContent>
    <mat-card [ngClass]="{'mat-cardpmov1g' : tile.text3 > 0 , 'mat-cardpmov1r': 0 > tile.text3 }"
      *ngFor="let tile of pmov1">{{tile.text}}<br>{{tile.text1}}<br>{{tile.text2}}<br>{{tile.text3}}%
    </mat-card>
  </div>

 
 

   

  </div>
  <div class="InsideContent1">
    <button type="button" class="btn btn-outline-secondary" data-mdb-ripple-color="dark">
      Volume Trends
    </button>
  </div>
<div class="InsideContent">
  
<div style="display: block;float:left" class="chart ">
  <canvas baseChart width="1300" height="300" [datasets]="labelMFL" [labels]="lineChartLabels"
    [options]="lineChartOptions" [chartType]="ChartType" (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)"></canvas>
</div>
</div>
<div class="InsideContent1">
  <button type="button" class="btn btn-outline-secondary" data-mdb-ripple-color="dark">
    Delivery Trends
  </button>
</div>

<div echarts [options]="optionsjdataall" class="demo-chartjdataall"></div>  
<div class="InsideContent1">
  <button type="button" class="btn btn-outline-secondary" data-mdb-ripple-color="dark">
    Price Trends
  </button>
</div>

<div class="InsideContent">
  <div style="display: block;" class="chart">
    <canvas baseChart width="1300" height="300" [datasets]="labelMFL1" [labels]="lineChartLabels1"
      [options]="lineChartOptions1" [chartType]="ChartType1" (chartHover)="chartHovered1($event)"
      (chartClick)="chartClicked1($event)"></canvas>
  </div>
</div>
  <div class="InsideContent1">
    <button type="button" class="btn btn-outline-secondary" data-mdb-ripple-color="dark">
      Key Stats
    </button>
  </div>
    
  <div class=InsideContent>

    <mat-card class='mat-cardperatio' *ngFor="let tile of kstats">
      <h5>{{tile.text}}</h5><br>{{tile.text1}}
    </mat-card>
  </div>
  <div class="InsideContent">
    <mat-card class="mat-cardks" *ngFor="let tile of ks">
      <h6>{{tile.text1}}</h6>{{tile.text2}}
    </mat-card>
  </div>
  <div class=InsideContent>



    <mat-card class='mat-cardperatio' style=float:right *ngFor="let tile of peratio">
      {{tile.text1}}<br>{{tile.text2}}<br>{{this.cap}}<br>{{tile.text3}}<br>{{tile.text4}}</mat-card>
    <mat-card class="mat-carddelvol1" *ngFor="let tile of volume2">
      {{tile.text1}}<br>{{tile.text2}}<br>{{tile.text3}}<br>{{tile.text4}}</mat-card>
    <mat-card class="mat-carddelvol2" *ngFor="let tile of delvol">
      {{tile.text1}}<br>{{tile.text2}}<br>{{tile.text3}}<br>{{tile.text4}}</mat-card>



  </div>
  <marquee class="col">
    <div class="col" style="display:inline">
      <span *ngFor="let new of news"> {{new}} </span>

    </div>

  </marquee>
  
  
  <div class="InsideContent">
    <h4 class="industry"> {{this.industry}} </h4>
    <h4 class="industry"> {{this.rank}} </h4>
  </div>
  {{message}}

  <div class="InsideContent">
    <mat-card class="mat-carddy" *ngFor="let tile of dy">
      <h6>{{tile.text1}}</h6>{{tile.text2}}
    </mat-card>
    <mat-card class="mat-cardpte" *ngFor="let tile of pte">
      {{tile.text1}}<br>P/E:{{tile.text2}}<br>{{tile.text3}}&nbsp;&nbsp;{{tile.text4}}<br>{{tile.text5}}&nbsp;&nbsp;{{tile.text6}}
    </mat-card>
    <mat-card class="mat-cardroe" *ngFor="let tile of roe">
      {{tile.text1}}<br>ROE:{{tile.text2}}<br>{{tile.text3}}&nbsp;&nbsp;{{tile.text4}}<br>{{tile.text5}}&nbsp;&nbsp;{{tile.text6}}
    </mat-card>
    <mat-card class="mat-cardptb" *ngFor="let tile of ptb">
      {{tile.text1}}<br>P/B:{{tile.text2}}<br>{{tile.text3}}&nbsp;&nbsp;{{tile.text4}}<br>{{tile.text5}}&nbsp;&nbsp;{{tile.text6}}
    </mat-card>
    <mat-card class="mat-cardptb" *ngFor="let tile of return">
      <h6>{{tile.text1}}</h6>
      {{tile.text2}}<br>{{tile.text3}}&nbsp;&nbsp;{{tile.text4}}<br>{{tile.text5}}&nbsp;&nbsp;{{tile.text6}}
    </mat-card>
  </div>
  
  <div class="InsideContent">

    <div style="display: block;float:left" class="chart">
      <canvas baseChart width="1250" height="400" [datasets]="labelMFL6" [labels]="lineChartLabels5"
        [options]="lineChartOptions4" [chartType]="ChartType4" (chartHover)="chartHovered4($event)"
        (chartClick)="chartClicked4($event)"></canvas>
    </div>
  </div>

  Daily Indicator
  Sentiment:{{indicatorssentiment}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Weekly
  Indicator Sentiment:{{indicatorssentimentw}}<br>
  Daily Moving Average Crossover Sentiment:{{movingaveragecrossoversentiment}}&nbsp;&nbsp;&nbsp;&nbsp;Weekly Moving
  Average Crossover Sentiment:{{movingaveragecrossoversentimentw}}<br>
  Daily Moving Average
  Sentiment:{{masentiment}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Weekly
  Moving Average Sentiment:{{masentimentw}}




  <div class="InsideContent">
    <mat-card class="mat-card2" *ngFor="let tile of hrating">

      {{tile.text}}<br>{{tile.text1}}<br>{{tile.text2}}</mat-card>
  </div>
  <div id="qr" class="qrheader shiny">Quarterly Result</div>
  
  <div [ngClass]="{'fontred' : tile.text2 == -1,'fontgreen' : tile.text2 == 1}" *ngFor="let tile of qtrhl">
    {{tile.text1}}</div>
    <div class="InsideContent">
    <mat-card [ngClass]="{'mat-cardqtrr' : tile.text6 == -1,'mat-cardqtrg' : tile.text6 == 1}" *ngFor="let tile of qtr">
      {{tile.text1}}<br>{{tile.text2}}<br>{{tile.text3}}<br>{{tile.text4}}<br>{{tile.text5}}</mat-card>
  </div>
  
  <div id="ic" class="icheader shiny">Industry Comparison</div>

  
    <mat-card
      [ngClass]="{'mat-cardred2' : tile.text2 == 'negative','cardyellow2' : tile.text2 == 'neutral','mat-cardgreen2' : tile.text2 == 'positive'}"
      *ngFor="let tile of industrycomparison">{{tile.text1}}<br>{{tile.text4}}<br>{{tile.text3}}</mat-card>
  
  <div id="pd" class="pdheader shiny">Price Details</div>
  
    <div [ngClass]="{'fontgreen' : tile.text1 == 'positive','fontred' : tile.text1 == 'negative'}"
      *ngFor="let tile of pricedetails"><br>{{tile.text1}}<br>{{tile.text2}}
    </div>
  
  
<div id="fs" class="fsheader shiny">Financial Stats</div>
<div fxLayout="row">
  <mat-card *ngFor="let tile of finstats">{{tile.text1}}<br>{{tile.text2}}</mat-card>
</div>


<mat-card *ngFor="let tile of tiles">{{tile.text}}</mat-card>
<mat-grid-list cols="10" rowHeight="70px" padding-left="20px" rowWidth="50px" gutterSize="5px">

  <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color"
    [style.border]="tile.border">

    <div class="container">
      <section class="header">
        <section class="header-start">

        </section>
        <section class="header-end">

        </section>
      </section>

      <section class="footer">

      </section>

      <section class="body">
        {{tile.text}}
      </section>
    </div>


  </mat-grid-tile>
</mat-grid-list>


<div id="chart21"></div>
<div class="InsideContent">
  <div echarts [options]="options1" class="demo-chartoptions1"></div>
  <div echarts [options]="options2" class="demo-chartoptions2"></div>
  </div>
  <div class="InsideContent">
  <div echarts [options]="options3" class="demo-chartoptions3"></div>
  
  <div echarts [options]="options4" class="demo-chartoptions4"></div>
  </div>
  <div class="InsideContent">
  <div echarts [options]="options5" class="demo-chartoptions5"></div>
  
  <div echarts [options]="options6" class="demo-chartoptions6"></div>
  </div>
  <div class="InsideContent">
  <div echarts [options]="options7" class="demo-chartoptions7"></div>
  <div echarts [options]="options8" class="demo-chart"></div>
  </div>
  <div echarts [options]="options31" class="demo-chart"></div>
  <div id="chart42"></div>