.InsideContent{
    display:flex;
    align-items: flex-start;
  }

.cardbear{
  width:110px;
  height:100px;
  margin-right:10px;
}
// .cardg{
//   background-color: rgb(178, 243, 178);
// }
cardvix{
  width:800px;
  height:150px;
  
}

cardpcr{
  width:800px;
  height:150px;
  
}
.demo-chart {
  height: 200px;
  width: 300px;
}
.demo-chartoptions1 {
  height: 200px;
  width: 300px;
}

.demo-chartoptions2 {
  height: 200px;
  width: 300px;
}

.demo-chartoptions3 {
  height: 200px;
  width: 300px;
}

.demo-chartoptions4 {
  height: 200px;
  width: 300px;
}
.demo-chartoptions5 {
  height: 200px;
  width: 300px;
}
.demo-chartoptions6 {
  height: 200px;
  width: 300px;
}
.demo-chartoptions7 {
  height: 200px;
  width: 300px;
}
.demo-chart2 {
  height: 200px;
  width: 300px;
}

