<div class="btn shiny">Kanchan Kapila Portfolio (Kotak Securities)</div>
<div class="InsideContent" *ngFor="let stock of dblist.Portfolio">

<div class="coll">
<mat-card class="mat-cardred1">{{stock.CompanyName}}</mat-card>
</div>
<div class="coll">
    <mat-card class="mat-cardgreen1" >{{stock.Quantity}}</mat-card>
    </div>
    <div class="coll">
        <mat-card class="mat-cardgreen1" >{{stock.BuyPrice}}</mat-card>
        </div>
           
<div class="coll">
<mat-card class="mat-cardgreen1">{{stock.iprice| number : '1.2-2'}}</mat-card>
</div>

<div class="coll">
    <mat-card class="mat-cardgreen1" >{{stock.currentprice}}</mat-card>
    </div>
<div class="coll">
    <mat-card class="mat-cardgreen1">{{stock.lvalue| number : '1.2-2'}}</mat-card>
</div>
<div class="coll">
    <mat-card class="mat-cardgreen1">{{stock.diff| number : '1.2-2'}}</mat-card>
</div>




</div>
<div class="InsideContent">
<h3>Investment:{{isum1| number : '1.2-2'}}</h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<h3>Latest Value:{{lsum1| number : '1.2-2'}}</h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<h3>Profit/Loss:{{diffsum1| number : '1.2-2'}}</h3>
</div>
<div class="btn shiny">Amit Kapila Portfolio (Kotak Securities)</div>
<div class="InsideContent" *ngFor="let stock of dblist.PortfolioAK">

<div class="coll">
<mat-card class="mat-cardred1">{{stock.CompanyName}}</mat-card>
</div>
<div class="coll">
    <mat-card class="mat-cardgreen1" >{{stock.Quantity}}</mat-card>
    </div>
    <div class="coll">
        <mat-card class="mat-cardgreen1" >{{stock.BuyPrice}}</mat-card>
        </div>
           
<div class="coll">
<mat-card class="mat-cardgreen1">{{stock.iprice| number : '1.2-2'}}</mat-card>
</div>

<div class="coll">
    <mat-card class="mat-cardgreen1" >{{stock.currentprice}}</mat-card>
    </div>
<div class="coll">
    <mat-card class="mat-cardgreen1">{{stock.lvalue| number : '1.2-2'}}</mat-card>
</div>
<div class="coll">
    <mat-card class="mat-cardgreen1">{{stock.diff| number : '1.2-2'}}</mat-card>
</div>


</div>
<div class="InsideContent">
    <h3>Investment:{{isum2| number : '1.2-2'}}</h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <h3>Latest Value:{{lsum2| number : '1.2-2'}}</h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <h3>Profit/Loss:{{diffsum2| number : '1.2-2'}}</h3>
    </div>
    
<div class="btn shiny">Kanchan Kapila Portfolio (Zerodha)</div>
<div class="InsideContent" *ngFor="let stock of dblist.PortfolioKK">

<div class="coll">
<mat-card class="mat-cardred1">{{stock.CompanyName}}</mat-card>
</div>
<div class="coll">
    <mat-card class="mat-cardgreen1" >{{stock.Quantity}}</mat-card>
    </div>
    <div class="coll">
        <mat-card class="mat-cardgreen1" >{{stock.BuyPrice}}</mat-card>
        </div>
           
<div class="coll">
<mat-card class="mat-cardgreen1">{{stock.iprice| number : '1.2-2'}}</mat-card>
</div>

<div class="coll">
    <mat-card class="mat-cardgreen1" >{{stock.currentprice}}</mat-card>
    </div>
<div class="coll">
    <mat-card class="mat-cardgreen1">{{stock.lvalue| number : '1.2-2'}}</mat-card>
</div>
<div class="coll">
    <mat-card class="mat-cardgreen1">{{stock.diff| number : '1.2-2'}}</mat-card>
</div>


</div>
<div class="InsideContent">
    <h3>Investment:{{isum3| number : '1.2-2'}}</h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <h3>Latest Value:{{lsum3| number : '1.2-2'}}</h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <h3>Profit/Loss:{{diffsum3| number : '1.2-2'}}</h3>
    </div>
    
    <div class="InsideContent">
        <h2>Total Investment:{{isum4| number : '1.2-2'}}</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h2>Total Latest Value:{{lsum4| number : '1.2-2'}}</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h2>Total Profit/Loss:{{diffsum4| number : '1.2-2'}}</h2>
        </div>
        