<nav class="navbar py-4 default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
    <a class="navbar-brand brand-logo" routerLink="/"><img src="assets/images/dashboard/amit2.jpg" alt="logo" /></a>
    <a class="navbar-brand brand-logo-mini" routerLink="/"><img src="assets/images/logo-mini.svg" alt="logo" /></a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-stretch">
    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize" (click)="toggleSidebar()">
      <span class="mdi mdi-menu"></span>
    </button>
    
      
 
      
        
        <div class="InsideContent1">
        <div class="InsideContent">
        <button pButton type="button" (click)="visibleSidebar1 = true" icon="pi pi-arrow-right" label="Actions" class="p-button-raised p-button-success p-button-outlined "></button>
        <button pButton type="button" (click)="visibleSidebar2 = true" icon="pi pi-arrow-left" label=" News" class="p-button-raised p-button-warning p-button-outlined "></button>
      </div>
      <div class="InsideContent">
        <button pButton type="button" (click)="visibleSidebar3 = true" icon="pi pi-arrow-down" label="Links" class="p-button-raised p-button-danger p-button-outlined "></button>
        <button pButton type="button" (click)="visibleSidebar4 = true" icon="pi pi-arrow-up" label="Websites" class="p-button-raised p-button-help p-button-outlined "></button>
      </div>
      <div class="ng-autocomplete ng autocomplete" width="10px" >
        <ng-autocomplete [data]="data" [searchKeyword]="keyword" placeholder="Search Stock" (selected)='selectEvent($event.isin)'
          (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
        </ng-autocomplete>
      
        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.name"></a>
        </ng-template>
      
        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>
      </div>
    </div>
      
    <p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="-1">
      <h1 style="font-weight:normal">Actions</h1>
      <p-button type="button" (click)="getmcmovingaverages()" label="MC Moving Averages" styleClass="p-button-success"></p-button>
      <p-button type="button" (click)="visibleSidebar1 = false" label="Cancel" styleClass="p-button-secondary"></p-button>
      <a class="dropdown-item waves-light" mdbWavesEffect (click)="getmcvolume()">MoneyControl Volume</a>        
      <a class="dropdown-item waves-light" mdbWavesEffect (click)="getmcinsight()">MoneyControl Insight</a>        
      <a class="dropdown-item waves-light" mdbWavesEffect (click)="chartink()">chartink</a>
              <a class="dropdown-item waves-light" mdbWavesEffect (click)="gettrendlynepostdvm()">Trendlyne Dura/volat/moment Score</a>
              <a class="dropdown-item waves-light" mdbWavesEffect (click)="nsepostdata1()">nsedata1</a>
              <a class="dropdown-item waves-light" mdbWavesEffect (click)="nsepostdata2()">nsestockpcrdata</a>
              <a class="dropdown-item waves-light" mdbWavesEffect (click)="getmoneycontrolti()">MoneycontrolTI</a>
              <a class="dropdown-item waves-light" mdbWavesEffect (click)="getpscore()">Get PScore</a>
              <a class="dropdown-item waves-light" mdbWavesEffect (click)="getbqbasicdetails()">BQ Basic Details</a>
              <a class="dropdown-item waves-light" mdbWavesEffect (click)="getmoneycontroloverallweekly()">MC Weekly</a>
              <a class="dropdown-item waves-light" mdbWavesEffect (click)="getmoneycontroloveralldaily()">MC Daily</a>
              <a class="dropdown-item waves-light" mdbWavesEffect (click)="getmoneycontroloverall()">MC Current Price
                Percentage</a>
              <a class="dropdown-item waves-light" mdbWavesEffect (click)="getmccombine()">MC Stocks Daily+Weekly+Monthly</a>
              <a class="dropdown-item waves-light" mdbWavesEffect (click)="getmcmovingaverages()">MC Moving Averages</a>
              <a class="dropdown-item waves-light" mdbWavesEffect (click)="getmcsectorcombine()">MC Sector Daily+Weekly</a>
              <a class="dropdown-item waves-light" mdbWavesEffect (click)="getbqnews()">BQ News</a>
              <a class="dropdown-item waves-light" mdbWavesEffect (click)="getmmstockinforeco()">MM Recos</a>
              <a class="dropdown-item waves-light" mdbWavesEffect (click)="getetcompanydata()">ET Companydata</a>
    </p-sidebar>

    <p-sidebar [(visible)]="visibleSidebar2" [fullScreen]="true" [baseZIndex]="-1">
      <h1 style="font-weight:normal">News</h1>
      <div class="InsideContent newsframe row card-group" >
        
      <p-card class="col-4" *ngFor="let news of newscard " header={{news.text1}} subheader={{news.text4}} [style]="{width: '400px',margin: '5px'}" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
            <img alt="Card" src={{news.text3}}>
        </ng-template>
        <p>{{news.text5}}</p>
       
        <a href={{news.text2}} target="_blank" rel="noopener noreferer">{{news.text2}}</a>
        
        
    
    </p-card>
    </div>
      
      
     
    </p-sidebar>
    
    <p-sidebar [(visible)]="visibleSidebar3" [style]="{height:'80em'}" position="top" [baseZIndex]="-1">
      <h1 style="font-weight:normal">Links</h1>
      <a class="nav-link waves-light" mdbWavesEffect href="http://localhost:4200/Analytics" target="_blank">Analytics</a>
      <a class="nav-link waves-light" mdbWavesEffect href="http://localhost:4200/Treemaps" target="_blank">TreeMaps</a>
         <a class="nav-link waves-light" mdbWavesEffect href="http://localhost:4200/Homepage" target="_blank">Homepage</a>
        <a class="nav-link waves-light" mdbWavesEffect href="http://localhost:4200/Screeners" target="_blank">Screeners</a>
        <a class="nav-link waves-light" mdbWavesEffect href="http://localhost:4200/Sectors" target="_blank">Sectors</a>
        <a class="nav-link waves-light" mdbWavesEffect href="http://localhost:4200/Recos" target="_blank">Recos</a>
        <a class="nav-link waves-light" mdbWavesEffect href="http://localhost:4200/Portfolio" target="_blank">Portfolio</a>
        <a class="nav-link waves-light" mdbWavesEffect href="http://localhost:4200/Screeners/daily" target="_blank">PScore/MCData</a>
        <a class="nav-link waves-light" mdbWavesEffect href="http://localhost:4200/Futures" target="_blank">Futures</a>
        <a class="nav-link waves-light" mdbWavesEffect href="http://localhost:4200/Options" target="_blank">Options</a>
        <a class="nav-link waves-light" mdbWavesEffect href="http://localhost:4200/Watchlist" target="_blank">Watchlist</a>
    </p-sidebar>
    
    <p-sidebar [(visible)]="visibleSidebar4" [style]="{height:'38em'}" position="bottom" [baseZIndex]="-1">
      <h1 style="font-weight:normal">Important Websites</h1>
      <a class="nav-link waves-light" mdbWavesEffect href="https://www.nseindia.com/" target="_blank">NSE India</a>
    </p-sidebar>
    
    <p-sidebar [(visible)]="visibleSidebar5" [fullScreen]="true" [baseZIndex]="10000">
      <h1 style="font-weight:normal">Full Screen Sidebar</h1>
      
    </p-sidebar>
     <div class="InsideContent">
      <div class="col-md-5 ">
        <div class="card bg-gradient-primary card-img-holder text-white" (click)="navigatenifty()">
          <div class="card-body">
            
            <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>
            <h4 class="font-weight-normal mb-1">
             
             </h4>
            <h4 [ngClass]="{'bg-gradient-success mb-1 ' : tile.text4 > 0 ,'bg-gradient-danger mb-1 ': 0 > tile.text4 }" *ngFor="let tile of mcniftyrt"><br>&nbsp;NIFTY <br>&nbsp;{{tile.text2}}<br>&nbsp;({{tile.text3| number : '1.2-2'}}&nbsp;{{tile.text4| number : '1.2-2'}}%)<br>&nbsp;Adv:{{tile.text5}}&nbsp;&nbsp;Dec:{{tile.text6}}</h4>
            
              
                
           
            <h6 class="card-text"></h6>
          </div>
        </div>
      </div>
      <div class="col-md-5 ">
        <div class="card bg-gradient-primary card-img-holder text-white" (click)="navigatebanknifty()">
          <div class="card-body">
            <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>                  
            <h4 class="font-weight-normal mb-1"></h4>
            <h4 [ngClass]="{'bg-gradient-success mb-1 ' : tile.text4 > 0 ,'bg-gradient-danger mb-1 ': 0 > tile.text4 }" *ngFor="let tile of mcbniftyrt"><br>&nbsp;BANK NIFTY <br>&nbsp;{{tile.text2}}<br>&nbsp;({{tile.text3| number : '1.2-2'}}&nbsp;{{tile.text4| number : '1.2-2'}}%)<br>&nbsp;Adv:{{tile.text5}}&nbsp;&nbsp;Dec:{{tile.text6}}</h4>
            <h6 class="card-text"></h6>
          </div>
        </div>
      </div>
    </div>
    
         
    
  
    <div class="InsideContent">   
      
    <div class="InsideContent2">
      
      <mat-card [ngClass]="{'animate__flipOutX bnoptionssupport' : tile.text1 >= 1.2 ,'bnoptionsresistance animate__flipOutX': 0.80 > tile.text1 ,'bnoptionsneutral animate__flipOutX': 1.2 > tile.text1 > 0.80 }"  *ngFor="let tile of pcrnsebnifty">
        <h6>PCRB :{{tile.text1| number : '1.2-2'}}</h6>
       
      </mat-card>
      <mat-card [ngClass]="{'animate__flipOutX noptionssupport' : tile.text1 >= 1.2 ,'noptionsresistance animate__flipOutX': 0.80 > tile.text1,'noptionsneutral animate__flipOutX': 1.2 > tile.text1 > 0.80 }"  *ngFor="let tile of pcrnsenifty">
        <h6>PCR :{{tile.text1| number : '1.2-2'}}</h6>
        
      </mat-card>
    
      
      
      </div>
    
 
<div class="InsideContent1">
  <div class="InsideContent">
  <mat-card class='bnoptionssupport animate__flipOutX'  *ngFor="let tile of bnoptionssupport">
    <h6>Bank Sup:{{tile.text1}}</h6>
    
  </mat-card>
 
  <mat-card class='bnoptionsresistance animate__flipOutX'  *ngFor="let tile of bnoptionsresistance">
    <h6>Bank Res:{{tile.text1}}</h6>
    
  </mat-card>
  </div>
  <div class="InsideContent">
  <mat-card class='bnoptionssupport animate__flipOutX'  *ngFor="let tile of n50optionssupport">
    <h6>Nifty Sup :{{tile.text1}}</h6>
    
  </mat-card>
  <mat-card class='n50optionsresistance animate__flipOutX'  *ngFor="let tile of n50optionsresistance">
    <h6>Nifty Res :{{tile.text1}}</h6>
    
  </mat-card>
  
</div>
      
<owl-clock [type]="'flipbox'"></owl-clock>    
</div>
    
</div>   
     
        
    
    
    
   
   
    
 
    
  
  </div>
</nav>