<nav class="navbar py-4 default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
    <a class="navbar-brand brand-logo" routerLink="/"><img src="assets/images/dashboard/amit2.jpg" alt="logo" /></a>
    <a class="navbar-brand brand-logo-mini" routerLink="/"><img src="assets/images/logo-mini.svg" alt="logo" /></a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-stretch">
    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize" (click)="toggleSidebar()">
      <span class="mdi mdi-menu"></span>
    </button>
    
      
    <div class="InsideContent">
      <div class="yk-g-12 yk-md-4">
        <h6 class="demo-header"></h6>
        <owl-clock [type]="'flipbox'"></owl-clock>
      </div>
    </div>
    <p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="-1">
      <h1 style="font-weight:normal">Actions</h1>
      <p-button type="button" (click)="getmcmovingaverages()" label="MC Moving Averages" styleClass="p-button-success"></p-button>
      <p-button type="button" (click)="visibleSidebar1 = false" label="Cancel" styleClass="p-button-secondary"></p-button>
      <a class="dropdown-item waves-light" mdbWavesEffect (click)="getmcvolume()">MoneyControl Volume</a>        
      <a class="dropdown-item waves-light" mdbWavesEffect (click)="getmcinsight()">MoneyControl Insight</a>        
      <a class="dropdown-item waves-light" mdbWavesEffect (click)="chartink()">chartink</a>
              <a class="dropdown-item waves-light" mdbWavesEffect (click)="gettrendlynepostdvm()">Trendlyne Dura/volat/moment Score</a>
              <a class="dropdown-item waves-light" mdbWavesEffect (click)="nsepostdata1()">nsedata1</a>
              <a class="dropdown-item waves-light" mdbWavesEffect (click)="nsepostdata2()">nsestockpcrdata</a>
              <a class="dropdown-item waves-light" mdbWavesEffect (click)="getmoneycontrolti()">MoneycontrolTI</a>
              <a class="dropdown-item waves-light" mdbWavesEffect (click)="getpscore()">Get PScore</a>
              <a class="dropdown-item waves-light" mdbWavesEffect (click)="getbqbasicdetails()">BQ Basic Details</a>
              <a class="dropdown-item waves-light" mdbWavesEffect (click)="getmoneycontroloverallweekly()">MC Weekly</a>
              <a class="dropdown-item waves-light" mdbWavesEffect (click)="getmoneycontroloveralldaily()">MC Daily</a>
              <a class="dropdown-item waves-light" mdbWavesEffect (click)="getmoneycontroloverall()">MC Current Price
                Percentage</a>
              <a class="dropdown-item waves-light" mdbWavesEffect (click)="getmccombine()">MC Stocks Daily+Weekly+Monthly</a>
              <a class="dropdown-item waves-light" mdbWavesEffect (click)="getmcmovingaverages()">MC Moving Averages</a>
              <a class="dropdown-item waves-light" mdbWavesEffect (click)="getmcsectorcombine()">MC Sector Daily+Weekly</a>
              <a class="dropdown-item waves-light" mdbWavesEffect (click)="getbqnews()">BQ News</a>
              <a class="dropdown-item waves-light" mdbWavesEffect (click)="getmmstockinforeco()">MM Recos</a>
              <a class="dropdown-item waves-light" mdbWavesEffect (click)="getetcompanydata()">ET Companydata</a>
    </p-sidebar>

    <p-sidebar [(visible)]="visibleSidebar2" [fullScreen]="true" [baseZIndex]="-1">
      <h1 style="font-weight:normal">News</h1>
      <div class="InsideContent newsframe row card-group" >
        
      <p-card class="col-4" *ngFor="let news of newscard " header={{news.text1}} subheader={{news.text4}} [style]="{width: '400px',margin: '5px'}" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
            <img alt="Card" src={{news.text3}}>
        </ng-template>
        <p>{{news.text5}}</p>
       
        <a href={{news.text2}} target="_blank" rel="noopener noreferer">{{news.text2}}</a>
        
        
    
    </p-card>
    </div>
      
      
     
    </p-sidebar>
    
    <p-sidebar [(visible)]="visibleSidebar3" [style]="{height:'80em'}" position="top" [baseZIndex]="-1">
      <h1 style="font-weight:normal">Links</h1>
      <a class="nav-link waves-light" mdbWavesEffect href="http://localhost:4200/Analytics" target="_blank">Analytics</a>
      <a class="nav-link waves-light" mdbWavesEffect href="http://localhost:4200/Treemaps" target="_blank">TreeMaps</a>
         <a class="nav-link waves-light" mdbWavesEffect href="http://localhost:4200/Homepage" target="_blank">Homepage</a>
        <a class="nav-link waves-light" mdbWavesEffect href="http://localhost:4200/Screeners" target="_blank">Screeners</a>
        <a class="nav-link waves-light" mdbWavesEffect href="http://localhost:4200/Sectors" target="_blank">Sectors</a>
        <a class="nav-link waves-light" mdbWavesEffect href="http://localhost:4200/Recos" target="_blank">Recos</a>
        <a class="nav-link waves-light" mdbWavesEffect href="http://localhost:4200/Portfolio" target="_blank">Portfolio</a>
        <a class="nav-link waves-light" mdbWavesEffect href="http://localhost:4200/Screeners/daily" target="_blank">PScore/MCData</a>
        <a class="nav-link waves-light" mdbWavesEffect href="http://localhost:4200/Futures" target="_blank">Futures</a>
        <a class="nav-link waves-light" mdbWavesEffect href="http://localhost:4200/Options" target="_blank">Options</a>
        <a class="nav-link waves-light" mdbWavesEffect href="http://localhost:4200/Watchlist" target="_blank">Watchlist</a>
    </p-sidebar>
    
    <p-sidebar [(visible)]="visibleSidebar4" [style]="{height:'38em'}" position="bottom" [baseZIndex]="-1">
      <h1 style="font-weight:normal">Important Websites</h1>
      <a class="nav-link waves-light" mdbWavesEffect href="https://www.nseindia.com/" target="_blank">NSE India</a>
    </p-sidebar>
    
    <p-sidebar [(visible)]="visibleSidebar5" [fullScreen]="true" [baseZIndex]="10000">
      <h1 style="font-weight:normal">Full Screen Sidebar</h1>
      
    </p-sidebar>
    
    
      <button pButton type="button" (click)="visibleSidebar1 = true" icon="pi pi-arrow-right" label="Actions" class="p-button-raised p-button-success p-button-outlined "></button>
      <button pButton type="button" (click)="visibleSidebar2 = true" icon="pi pi-arrow-left" label="News" class="p-button-raised p-button-warning p-button-outlined "></button>
    
      <button pButton type="button" (click)="visibleSidebar3 = true" icon="pi pi-arrow-down" label="Links" class="p-button-raised p-button-danger p-button-outlined "></button>
      <button pButton type="button" (click)="visibleSidebar4 = true" icon="pi pi-arrow-up" label="Websites" class="p-button-raised p-button-help p-button-outlined "></button>
     <div class="InsideContent1">
        
    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item nav-profile dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="profileDropdown" ngbDropdownToggle>
          <div class="nav-profile-img">
            <img src="assets/images/dashboard/amit.jpg" alt="image">
            <span class="availability-status online"></span>
          </div>
          <div class="nav-profile-text">
            <p class="mb-1 text-black">Amit Kapila</p>
          </div>
        </a>
        <div class="dropdown-menu navbar-dropdown" ngbDropdownMenu aria-labelledby="profileDropdown">
          <a class="dropdown-item" href="javascript:;">
            <i class="mdi mdi-cached mr-2 text-success"></i>
            Activity Log
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:;">
            <i class="mdi mdi-logout mr-2 text-primary"></i>
            Signout
          </a>
        </div>
      </li>
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" ngbDropdownToggle>
          <i class="mdi mdi-email-outline"></i>
          <span class="count-symbol bg-warning"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" ngbDropdownMenu aria-labelledby="messageDropdown">
          <h6 class="p-3 mb-0">Messages</h6>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <img src="assets/images/faces/face4.jpg" alt="image" class="profile-pic">
            </div>
            <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
              <h6 class="preview-subject ellipsis mb-1 font-weight-normal">Mark send you a message</h6>
              <p class="text-gray mb-0">
                1 Minutes ago
              </p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <img src="assets/images/faces/face2.jpg" alt="image" class="profile-pic">
            </div>
            <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
              <h6 class="preview-subject ellipsis mb-1 font-weight-normal">Cregh send you a message</h6>
              <p class="text-gray mb-0">
                15 Minutes ago
              </p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <img src="assets/images/faces/face3.jpg" alt="image" class="profile-pic">
            </div>
            <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
              <h6 class="preview-subject ellipsis mb-1 font-weight-normal">Profile picture updated</h6>
              <p class="text-gray mb-0">
                18 Minutes ago
              </p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <h6 class="p-3 mb-0 text-center">4 new messages</h6>
        </div>
      </li>
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" ngbDropdownToggle>
          <i class="mdi mdi-bell-outline"></i>
          <span class="count-symbol bg-danger"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" ngbDropdownMenu aria-labelledby="notificationDropdown">
          <h6 class="p-3 mb-0">Notifications</h6>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-success">
                <i class="mdi mdi-calendar"></i>
              </div>
            </div>
            <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
              <h6 class="preview-subject font-weight-normal mb-1">Event today</h6>
              <p class="text-gray ellipsis mb-0">
                Just a reminder that you have an event today
              </p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-warning">
                <i class="mdi mdi-settings"></i>
              </div>
            </div>
            <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
              <h6 class="preview-subject font-weight-normal mb-1">Settings</h6>
              <p class="text-gray ellipsis mb-0">
                Update dashboard
              </p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-info">
                <i class="mdi mdi-link-variant"></i>
              </div>
            </div>
            <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
              <h6 class="preview-subject font-weight-normal mb-1">Launch Admin</h6>
              <p class="text-gray ellipsis mb-0">
                New admin wow!
              </p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <h6 class="p-3 mb-0 text-center">See all notifications</h6>
        </div>
      </li>
      <li class="nav-item nav-logout d-none d-lg-block">
        <a class="nav-link" href="javascript:;">
          <i class="mdi mdi-power"></i>
        </a>
      </li>
      <li class="nav-item nav-settings d-none d-lg-block">
        <a class="nav-link">
          <i class="mdi mdi-format-line-spacing"></i>
        </a>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" (click)="toggleOffcanvas()">
      <span class="mdi mdi-menu"></span>
    </button>
    <div class="InsideContent">
    <div class="ng-autocomplete ng autocomplete" width="10px" style=float:right>
      <ng-autocomplete [data]="data" [searchKeyword]="keyword" placeholder="Search Stock" (selected)='selectEvent($event.isin)'
        (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
      </ng-autocomplete>
    
      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name"></a>
      </ng-template>
    
      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>
  </div>
    
  </div>
  </div>
</nav>