.InsideContent1 {
    display: block;
  }
.InsideContent{
    display:flex;
    align-items: flex-start;
  }
  .cardbear1{
    width:200px;
    height:200px;
    margin-right:10px;
    text-align:center;
    border-radius:15%;
  }