.InsideContent{
    display:flex;
    align-items: flex-start;
  }

  cardbear{
    display:flex;
    width:auto;
    
  }

cardvix{
  width:800px;
  height:150px;
  
}

cardpcr{
  width:800px;
  height:150px;
  
}
@media(max-width:320px){
  :host ::ng-deep .pButton {
    width: 1rem;
    font-size: 1px;
  }
  :host ::ng-deep .p-dropdown {
    width: 10rem;
    
  }
  :host ::ng-deep .cardbear {
    width: auto;
    height:auto;
    font-size: xx-small;
    
  }
  :host ::ng-deep .card {
    width: auto;
    height:auto;
    color:black;
    font-size: xx-small;
    
  }
  :host ::ng-deep .cardbear1 {
    width: auto;
    height:auto;
    font-size: xx-small;
    
  }
  :host ::ng-deep .navbar-brand{
    display:none;
    
  }
  :host ::ng-deep .brand-logo-mini{
    display:none;
    
  }
  :host ::ng-deep .chart{
    width:300px;
    height:400px;
    
  }
}
