
.InsideContent{
    display:flex;
    align-items: flex-start;
  }

.cardbear{
  width:125px;
  height:90px;
  margin-right:5px;
  margin-left:5px;
}

cardvix{
  width:800px;
  height:150px;
  
}

cardpcr{
  width:800px;
  height:150px;
  
}
