.InsideContent{
    display:flex;
    align-items: flex-start;
  }

  cardbear{
    display:flex;
    width:auto;
    
  }

cardvix{
  width:800px;
  height:150px;
  
}

cardpcr{
  width:800px;
  height:150px;
  
}
