.InsideContent{
    display:flex;
    align-items: flex-start;
  }

.cardbear{
  width:110px;
  height:100px;
  margin-right:10px;
}

cardvix{
  width:800px;
  height:150px;
  
}

cardpcr{
  width:800px;
  height:150px;
  
}
