

     
<div class="InsideContent2">
  <div class="ticker">
  <marquee class="col">
    <div class="col" style="display:inline">
      <span [ngClass]="{'fontgreen1' : new.text3 > 0 ,'fontred1': 0 > new.text3,'fontyellow': 0 == new.text3 }" *ngFor="let new of gsecstocksdetails">&nbsp;&nbsp;&nbsp;&nbsp;{{new.text1}} &nbsp;{{new.text2}} &nbsp;({{new.text3}}%)</span>
  
    </div>
  
  </marquee>
</div>
</div>
<div class="InsideContent">
  <div class="tickerg">
 
  <marquee class="col">
  <div class="col" style="display:inline">
    <span class="fontgreen1" *ngFor="let ind of advsectors">
      {{ind.text1}}&nbsp;{{ind.text2}}&nbsp;{{ind.text3}}&nbsp;({{ind.text4}})&nbsp;</span>

  </div>

</marquee></div></div>
<div class="InsideContent">
  <div class="tickerr">
  
  

<marquee class="col">
  <div class="col" style="display:inline">
    <span class="fontred1" *ngFor="let ind of decsectors">
      {{ind.text1}}&nbsp;{{ind.text2}}&nbsp;{{ind.text3}}&nbsp;({{ind.text4}})&nbsp;</span>

  </div>

  </marquee></div></div>

<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark light purple">
      <div class="ng-autocomplete ng autocomplete" width="20px" style=float:right>
        <ng-autocomplete [data]="data" [searchKeyword]="keyword" (selected)='selectEvent($event.isin)'
          (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
        </ng-autocomplete>
      
        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.name"></a>
        </ng-template>
      
        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>
      </div>
      
      <!-- Dropdown -->
      
    
    <!-- Links -->


  
  <!-- Collapsible content -->
</mdb-navbar>
  <div class="InsideContent">




  
</div>


<div class="InsideContent">




</div>




<div class="InsideContent">
<div class="fontgreen"><h5>Advances:{{this.bqadv}}</h5></div>&nbsp;&nbsp;&nbsp;&nbsp;<div class="fontred">
  <h5>Declines:{{this.bqdec}}</h5></div>&nbsp;&nbsp;&nbsp;&nbsp;<div class="fontyellow"><h5>Unchanged:{{this.bqunc}}</h5></div>
</div>
<div class="InsideContent">
<div class="myChartDiv" [hidden]="!chart">
  <canvas height="200" width="200" id="canvas"></canvas>
</div>
<div style="display: block;float:right" class="chart">
  <canvas baseChart width="1000" height="300" [datasets]="labelMFL4" [labels]="lineChartLabels4"
    [options]="lineChartOptions4" [chartType]="ChartType4" (chartHover)="chartHovered4($event)"
    (chartClick)="chartClicked4($event)"></canvas>
</div>
</div>


<p-tabView>
  <p-tabPanel header="Technicals">
  

      
  </p-tabPanel>
  <p-tabPanel header="Upcoming Results">
    <div id="ur" style=float:left width="900px" color="indigo" class="btnoverall animate__flipOutX">Upcoming Results</div>

<mat-card class="mat-cardresult animate__flipOutX"
  
  *ngFor="let tile of result">
  {{tile.text1}}<br>{{tile.text2}}<br>{{tile.text3}}<br>{{tile.text4}}
  
</mat-card>


  </p-tabPanel>
  <p-tabPanel header="Sector Map">
    <div id="sv" style=float:left width="600px" color="indigo" class="btnsv shiny">SectorWise View</div>

<mat-card
  [ngClass]="{'mat-cardgreen1' : tile.text3 > 0 , 'mat-cardred1': 0 > tile.text3,'fontgreen':tile.text7 > 0,'fontred': 0 > tile.text7 }"
  *ngFor="let tile of indices">
  <h6>{{tile.text1}}</h6>
  <h6>{{tile.text2}}<br>&nbsp;{{tile.text7}}&nbsp;({{tile.text3}}%)</h6>
  <br>O:{{tile.text9}}&nbsp;&nbsp;C:{{tile.text8}}<br>H:{{tile.text6}}&nbsp;&nbsp;L:{{tile.text10}}<br>Adv:{{tile.text5}}&nbsp;&nbsp;Dec:{{tile.text4}}
</mat-card>


 

  
  </p-tabPanel>
  
</p-tabView>










<marquee class="col">
  <div class="col" style="display:inline">
    <span [ngClass]="{'fontgreen' : ind.text3 > 0 , 'fontred': 0 > ind.text3 }" *ngFor="let ind of indices">
      {{ind.text1}}&nbsp;{{ind.text2}}&nbsp;{{ind.text7}}&nbsp;({{ind.text3}})&nbsp;Adv: {{ind.text5}}&nbsp;Dec:
      {{ind.text4}}***</span>

  </div>

</marquee>
<div class="InsideContent">
  <marquee class="col">
    
    <h6>  <span class="col" style="display:inline"   *ngFor="let ind of nsindices">
      
        {{ind.text1}} Adv:{{ind.text2}}  Dec:{{ind.text3}}  Unc:{{ind.text4}}  Change:({{ind.text5}})%   
        <span *ngIf="ind.text6 == '1'"><img class="thumbnail-image"  src="../../../assets/up.png"/></span><span *ngIf="ind.text6 == '-1'"><img class="thumbnail-image"  src="../../../assets/down.png" /></span>
      </span></h6>
  
  
  
  </marquee>
</div>
  






  

<div class="InsideContent">
<button type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark">Top Gainer Stocks</button>
<marquee class="col">
  <div class="col" style="display:inline">
    <span class="fontgreen" *ngFor="let new of gsectorsdetails" > {{new.text1}} {{new.text2}} {{new.text3}} ({{new.text4}}%) </span>
    

  </div>

</marquee>
</div>
<div class="InsideContent">
  <button type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark">Top Loser Stocks</button>
  <marquee class="col">
    <div class="col" style="display:inline">
      <span class="fontred" *ngFor="let new of gsectorsdetails" > {{new.text5}} {{new.text6}} {{new.text7}} ({{new.text8}}%)</span>
      
  
    </div>
  
  </marquee>
  </div>
  



<div class="InsideContent2">


<div class="InsideContent">
</div>
<div class="InsideContent">
  <button style=float:left type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark">Nifty Metal</button>
</div>
<div class="InsideContent">
  </div>
  <div class="InsideContent">
    </div>
    
  </div>      

<button type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark"
  (click)="scroll('ov')">Overall</button>
<button type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark" (click)="scroll('sv')">SectorWise
  View</button>

<div id="ov" style=float:left width="900px" color="indigo" class="btnoverall shiny">Overall</div>
<div class="InsideContent1">
  <div id="chart"></div>


</div>


<div class="InsideContent" style=float:right>
  <mat-card class="mat-cardalert"
    
    *ngFor="let tile of alert">
    <h6>{{tile.text1}}</h6><br>{{tile.text2}}
    
  </mat-card>
  </div>



  <div style="border: 3px solid rgb(201, 0, 1); overflow: hidden; margin: 10px ; max-width: 950px;">
    <iframe scrolling="yes" src="https://www.topstockresearch.com/rt/PriceVolShocker/PRICEGAINWITHHIGHVOL/INTRADAY" style="border: 0px none; margin-left: -10px; height: 900px; margin-top: -395px; width: 950px;">
    </iframe>
    </div>
    <div style="border: 3px solid rgb(201, 0, 1); overflow: hidden; margin: 10px ; max-width: 1200px;">
      <iframe scrolling="no" src="http://localhost:4200/Treemaps" style="border: 0px none; margin-left: -10px; height: 3600px; margin-top: -3100px; width: 1200px;">
      </iframe>
      </div>
      <div style="border: 3px solid rgb(201, 0, 1); overflow: hidden; margin: 10px ; max-width: 1200px;">
        <iframe scrolling="no" src="https://api.niftytrader.in/stocks-analysis" style="border: 0px none; margin-left: -10px; height: 800px; margin-top: -150px; width: 1200px;">
        </iframe>
        </div>
  