
  
<div class="InsideContent">
    <button type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark">Advancing Sectors</button>
    <marquee class="col">
    <div class="col" style="display:inline">
      <span class="fontgreen" *ngFor="let ind of advsectors">
        {{ind.text1}}&nbsp;{{ind.text2}}&nbsp;{{ind.text3}}&nbsp;({{ind.text4}})&nbsp;</span>
  
    </div>
    
  </marquee></div>
  <div class="InsideContent">
    <button type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark">Declining Sectors</button>
    
  
  <marquee class="col">
    <div class="col" style="display:inline">
      <span class="fontred" *ngFor="let ind of decsectors">
        {{ind.text1}}&nbsp;{{ind.text2}}&nbsp;{{ind.text3}}&nbsp;({{ind.text4}})&nbsp;</span>
  
    </div>
    </marquee></div>
  
    <button type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark"
    (click)="scroll('dsv')">Daily Sector View</button>
    <button type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark"
(click)="scroll('msv')">Monthly Sector View</button>
<button type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark"
(click)="scroll('wsv')">Weekly Sector View </button>
<button type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark"
(click)="scroll('gs')">Gaining Sectors</button>

<button type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark"
  (click)="scroll('ls')">Losing Sectors</button>
  
<button type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark"
(click)="scroll('es')">Stable Sectors</button>
<div id="chart21"></div>

<div id="dsv" style=float:left width="600px" class="btnls shiny">Daily Sector View</div>
<mat-card [ngClass]="{'mat-cardyellow' : tile.text2 == 'Neutral','mat-cardgreen' : tile.text2 == 'Bullish' ,'mat-cardgreen2' : tile.text2 == 'Very Bullish' ,'mat-cardred' : tile.text2 == 'Bearish' ,'mat-cardred2' : tile.text2 == 'Very Bearish'}"  *ngFor="let tile of mcsectordaily">
  {{tile.text3}}
  <h6>{{tile.text2}}</h6>
</mat-card>
<div id="wsv" style=float:left width="600px" class="btnls shiny">Weekly Sector View</div>
<mat-card [ngClass]="{'mat-cardyellow' : tile.text2 == 'Neutral','mat-cardgreen' : tile.text2 == 'Bullish' ,'mat-cardgreen2' : tile.text2 == 'Very Bullish' ,'mat-cardred' : tile.text2 == 'Bearish' ,'mat-cardred2' : tile.text2 == 'Very Bearish'}" *ngFor="let tile of mcsectorweekly">
  {{tile.text3}}
  <h6>{{tile.text2}}</h6>
</mat-card>
<div id="msv" style=float:left width="600px" class="btnls shiny">Monthly Sector View</div>
<mat-card [ngClass]="{'mat-cardyellow' : tile.text2 == 'Neutral','mat-cardgreen' : tile.text2 == 'Bullish' ,'mat-cardgreen2' : tile.text2 == 'Very Bullish' ,'mat-cardred' : tile.text2 == 'Bearish' ,'mat-cardred2' : tile.text2 == 'Very Bearish'}" *ngFor="let tile of mcsectormonthly">
  {{tile.text3}}
  <h6>{{tile.text2}}</h6>
</mat-card>


<div id="gs" style=float:left width="600px" class="btngs shiny">Gaining Sectors</div>
<mat-card style=float:left
[ngClass]="{'mat-cardgreen1' : tile.text2 > tile.text3,'mat-cardred1' : tile.text3 > tile.text2,'mat-cardyellow1' : tile.text3 == tile.text2}"
style=float:left *ngFor="let tile of gsectors">

<h6>{{tile.text1}}</h6>Adv:{{tile.text2}}&nbsp;&nbsp;&nbsp;Dec:{{tile.text3}}<br>{{tile.text5}}&nbsp;{{tile.text6}}&nbsp;({{tile.text7}}%)<br>Volume:{{tile.text8}}k
</mat-card>
<div id="ls" style=float:left width="600px" class="btnls shiny">Losing Sectors</div>
<mat-card style=float:left
[ngClass]="{'mat-cardgreen1' : tile.text2 > tile.text3,'mat-cardred1' : tile.text3 > tile.text2,'mat-cardyellow1' : tile.text3 == tile.text2}"
style=float:left *ngFor="let tile of dsectors">

<h6>{{tile.text1}}</h6>{{tile.text2}}<br>{{tile.text3}}<br>{{tile.text4}}<br>{{tile.text5}}
</mat-card>
<div id="es" style=float:left width="600px" class="btnes shiny">Stable Sectors</div>
<mat-card style=float:left
[ngClass]="{'mat-cardgreen1' : tile.text2 > tile.text3,'mat-cardred1' : tile.text3 > tile.text2,'mat-cardyellow1' : tile.text3 == tile.text2}"
style=float:left *ngFor="let tile of esectors">

<h6>{{tile.text1}}</h6>{{tile.text2}}<br>{{tile.text3}}<br>{{tile.text4}}<br>{{tile.text5}}
</mat-card>
