.mat-cardgreen {
  
  background:rgb(228, 243, 224);
  display: inline-block;
  margin: 4px;
  max-width: 130px;
  height: 50px;
  width: 50%;
  font-size: 8pt;
  color: black;
  //margin: 10px auto
}
.mat-cardyellow {
  
  background:rgb(247, 237, 97);
  display: inline-block;
  margin: 4px;
  max-width: 130px;
  height: 50px;
  width: 50%;
  font-size: 8pt;
  color: black;
  //margin: 10px auto
}
.mat-cardyellow2 {
  
  background:rgb(247, 237, 97);
  display: inline-block;
  margin: 4px;
  max-width: 130px;
  height: 50px;
  width: 50%;
  font-size: 8pt;
  color: black;
  //margin: 10px auto
}
.mat-cardgreen2 {
  
  background:rgb(228, 243, 224);
  display: inline-block;
  margin: 4px;
  max-width: 130px;
  height: 50px;
  width: 50%;
  font-size: 8pt;
  color: black;
  //margin: 10px auto
}
.mat-cardred {
  
  background:rgb(252, 198, 201);
  display: inline-block;
  margin: 4px;
  max-width: 130px;
  height: 50px;
  width: 50%;
  font-size: 8pt;
  color: black;
  //margin: 10px auto
}
.mat-cardred2 {
  
  background:rgb(252, 198, 201);
  display: inline-block;
  margin: 4px;
  max-width: 130px;
  height: 50px;
  width: 50%;
  font-size: 8pt;
  color: black;
  //margin: 10px auto
}
.mat-cardgreen1 {
  
    background:rgb(228, 243, 224);
    display: inline-block;
    margin: 4px;
    max-width: 200px;
    height: 150px;
    width: 50%;
    font-size: 8pt;
    color: black;
    //margin: 10px auto
  }

  .mat-cardred1 {
  
    background:rgb(245, 177, 197);
    display: inline-block;
    margin: 4px;
    max-width: 200px;
    height: 150px;
    width: 50%;
    font-size: 8pt;
    color: black;
    //margin: 10px auto
  }

  .mat-cardyellow1 {
  
    background:rgb(233, 245, 177);
    display: inline-block;
    margin: 4px;
    max-width: 200px;
    height: 150px;
    width: 50%;
    font-size: 8pt;
    color: black;
    //margin: 10px auto
  }
  .btngs {
    position: relative;
    float:right;
    //left: 710px;
    width: 1300px;
    text-align: center;
    padding: .61538462em 1em;
    cursor: pointer;
    vertical-align: right;
    color: #FFF;
    border: 1px solid rgb(173, 240, 173);
    border-radius: 3px;
    background-color: indigo;
    box-shadow: inset 0 1px 0 lightgreen;
  }
  .btnls {
    position: relative;
    float:right;
    //left: 710px;
    width: 1300px;
    text-align: center;
    padding: .61538462em 1em;
    cursor: pointer;
    vertical-align: right;
    color: #FFF;
    border: 1px solid rgb(173, 240, 173);
    border-radius: 3px;
    background-color: indigo;
    box-shadow: inset 0 1px 0 lightgreen;
  }
  .btnes {
    position: relative;
    float:right;
    //left: 710px;
    width: 1300px;
    text-align: center;
    padding: .61538462em 1em;
    cursor: pointer;
    vertical-align: right;
    color: #FFF;
    border: 1px solid rgb(173, 240, 173);
    border-radius: 3px;
    background-color: indigo;
    box-shadow: inset 0 1px 0 lightgreen;
  }
  .fontgreen {
    font-family: Orbitron;
    //font-family: 'Raleway';
    font-weight: 150;
    color: green;
  }
  
  .fontred {
    font-family: Orbitron;
    font-weight: 150;
    color: rgb(250, 51, 51);
  }
  .fontyellow {
    font-family: Orbitron;
    font-weight: 150;
    color: rgb(227, 241, 30);
  }
  .InsideContent{
    display:flex;
  }
  .InsideContent1{
    display:block;
  }  